[Desktop Entry]

# Designer : Roman PCR59320 aka Roman O'Cry  (pcr59320@gmail.com / https://github.com/rdh59320/)
# Description : System update app for APT, Snap, Flatpak
# Licence CREATIVE COMMONS CC BY-NC-SA 4.0
# Version : 1.0

Version=1.1
Type=Application
Terminal=false
Name=System Update App
Icon=/opt/BeLGE/App/Sys_Update/system-software-update.svg
Exec=xterm -e 'bash /opt/BeLGE/App/Sys_Update/Sysupdater.sh'
Categories=Applications;

