[Desktop Entry]
Version=1.1
Type=Application
Name=BeLGE System Updater
GenericName=System Update Tool
Comment=Update your system packages including APT, Snap, and Flatpak
Exec=xterm -e 'bash /opt/BeLGE/App/Sys_Update/Sysupdater.sh'
Icon=/opt/BeLGE/App/Sys_Update/system-software-update.svg
Terminal=false
Categories=System;Settings;
Keywords=Update;Upgrade;System;APT;Snap;Flatpak;
StartupNotify=true
